
.mainuseeffect{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.product-data{
    width: 350px;
    height: 350px;
    background-color: gray;
    border-radius: 5px;
    text-align: center;
}
.product-data>h1{
    font-size: 0.8rem;
}
img{
    width: 250px;
    height: 250px;
}