*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #cfe1b9;

}
.main-containt{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-transform: capitalize;
    color: red;
}